/* ||GOOGLE FONTS:  */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ||CUSTOM COLORS & UNIVERSAL PADDING */
:root {
    --main-blue: #057d9b;
    --project-red: #9E1C1C;
    --project-purple: #7C75CA;
    --project-green: #5E8F4D;
    --project-pink: #C363B4;
    --project-orange: #be7d33;
    --project-blue: #418cb5;
    --desktop-padding-sides: 200px;
    --tablet-padding-sides: 75px;
    --mobile-padding-sides: 32px;
    --main-padding-top-bottom: 48px;
}

/* -------------------------------------------------------------------------------------------------- */

/* ||GENERAL STYLES */
body {
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: "Playfair Display", serif;
}

h1 {
    position: absolute;
    color: white;
    font-size: 42px;
    margin-bottom: 12px;
    text-shadow: 1px 1px 3px #979b9e;;
    
}

h2 {
    font-size: 42px;
}

/* Sets a standard size for icons */
.icons {
    width: 32px;
    height: auto;
}

/* -------------------------------------------------------------------------------------------------- */

/* ||HEADER STYLES */

header {
    margin-top: 52px;
}


/* All header content except for the blue accent */
.header-content {
    display: flex;
    align-items: center;
}

/* Contains both h1 (name), and the header photo */
.name {
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: center;
}

/* White about me box including links */
.about-me {
    padding-top: 24px;
    padding: 0 24px;
    background-color: white;
    box-shadow: 5px 6px 8px #E1E2E3;
}

.about-me h2 {
    margin: 0;
    padding-top: 24px;
    padding-bottom: 24px;
}

.about-me > p {
    font-size: 18px;
}

/* Social Media Links in the Header */
.header-links {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    padding: 48px 0 24px;
}

/* -------------------------------------------------------------------------------------------------- */

/* ||HEADER ACCENT (BLUE) */

/* Blue accented design behind the header content */
.header-art {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 22vw), 0% 100%);
    background-color: var(--main-blue);
    width: 100vw;
	margin: 0 auto;
	height: 550px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* -------------------------------------------------------------------------------------------------- */

/* ||MAIN - MY WORK  */

main {
    padding-top: var(--main-padding-top-bottom);
    padding-bottom: var(--main-padding-top-bottom);
}

/* Grid Container */
.work-container {
    display: grid;
    column-gap: 32px;
    row-gap: 48px;
}

/* Grid Boxes */
.work-box {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 6px 8px #E1E2E3;
}

/* Placeholder for an image */
.screenshot {
    aspect-ratio: 1/1;

    /* Placeholder text properties: Delete when swapping for an image */
    font-size: 32px;
    font-family: "Playfair Display", serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 8px;
}

/* Project Name and Description */
.work-box > section {
    padding: 0px 16px;
}

.project-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* -------------------------------------------------------------------------------------------------- */

/* ||FOOTER STYLES */

footer {
    margin: 0;
    background-color: var(--main-blue);
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding-top: 48px;
    padding-bottom: 48px;
}

/* All footer content except the picture */
footer section {
    padding-right: 48px;
}

footer h2 {
    margin-top: 0;
}

.contact-msg, .address, .phone {
    padding-bottom: 20px;
    min-width: 225px;
}

.email {
    padding-bottom: 32px;
}

/* Contains email address/phone number AND an icon */
.email, .phone {
    display: flex;
    gap: 6px;
}

.email-icon, .phone-icon {
    fill: white;
    width: 24px;
    height: auto;
}

/* Social Media Links in the Footer */
.footer-links {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}

/* --------------------------------------------------------------- */

/* ||SCREENSHOT PLACEHOLDER BACKGROUND COLORS */

/* These styles can be deleted when swapping out for photos */
.screenshot-one {
    background-color: var(--project-red);
}

.screenshot-two {
    background-color: var(--project-purple);
}

.screenshot-three {
    background-color: var(--project-green);
}

.screenshot-four {
    background-color: var(--project-pink);
}

.screenshot-five {
    background-color: var(--project-orange);
}

.screenshot-six {
    background-color: var(--project-blue);
}

/* -------------------------------------------------------------------------------------------------- */

/* ||DESKTOP PADDING & GRID */

main, footer, .header-content {
    padding-right: clamp(24px, 10vw, 200px);
    padding-left: clamp(24px, 10vw, 200px);
}

.work-container {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
}

/* -------------------------------------------------------------------------------------------------- */

/* ||DESKTOP HEADER & FOOTER IMAGES */

header picture img {
    max-width: 400px;
}

footer picture {
    display: flex;
    align-items: center;
}

footer picture img {
    max-width: 550px;
}

/* -------------------------------------------------------------------------------------------------- */

/* ||TABLET STYLES */
@media (max-width: 1024px) {

    .header-content:last-child {
        flex-shrink: 1;
        display: flex;
    }

    h1 {
        padding-left: 16px
    }

    /* ||TABLET PADDING & GRID */

    main, footer, .header-content {
        padding-left: clamp(24px, 5vw, 75px);
        padding-right: clamp(24px, 5vw, 75px);
    }

    /* Set grid columns to 2 */
    .work-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    /* --------------------------------------------------------------------------------------------- */

    /* TABLET HEADER & FOOTER IMAGES */

    header picture img {
        max-width: 250px;
        flex-shrink: 1;
    }

    footer picture {
        justify-content: space-between;
        min-width: 0;
    }

    footer picture img {
        /* Current editing left off */
        flex-shrink: 1;
        min-width: 0;
        max-width: 400px;
    }

}

/* -------------------------------------------------------------------------------------------------- */

/* ||MOBILE STYLES*/
@media (max-width: 600px) {

    h1 {
        font-size: 36px;
    }

    /* Center titles */
    h2 {
        text-align: center
    }

    /* Center header & footer links */
    .header-links {
        justify-content: center;
        padding-top: 24px;
    }

    .footer-links {
        padding-bottom: 48px;
        justify-content: center;
    }

    /* Convert header to a single column */
    .header-content {
        padding: 0;
        flex-direction: column;
        gap: 24px;
    }

    .header-content:first-child {
        padding-left: clamp(24px, 5vw, 32px);
        padding-right: clamp(24px, 5vw, 32px);
    }

    .name {
        padding-left: 32px;
        padding-right: 32px;
    }

    .name {
        padding-left: 32px;
        padding-right: 32px;
    }

    /* Convert footer into a single column */
    footer {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding: 0;
    }

    .contact {
        margin-top: 24px;
    }

    /* ||MOBILE PADDING & GRID */

    header {
        padding-left: clamp(24px, 5vw, 32px);
        padding-right: clamp(24px, 5vw, 32px);
    }

    .about-me {
        box-shadow: none;
        padding: 0 var(--mobile-padding-sides);
    }

    main {
        padding: var(--main-padding-top-bottom) var(--mobile-padding-sides);
    }

    footer section {
        padding: 0 var(--mobile-padding-sides);
    }

    /* Set grid columns to 1 */
    .work-container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    /* --------------------------------------------------------------------------------------------- */

    /* ||MOBILE HEADER & FOOTER IMAGES */

    header picture {
        display: flex;
        max-width: calc(100vw - clamp(48px, 5vw, 64px));
    }

    header picture img {
        padding-top: 24px;
        min-width: 0;
        max-width: 400px;
        flex-shrink: 1;
    }

    footer picture img {
        max-width: 100vw;
    }

    /* --------------------------------------------------------------------------------------------- */


}

